<!doctype html>
{% extends "layout.html" %}
{% block title %}Tweet{% endblock %}

{% block content %}
{% if tweet %}
<p class="text-center">Come giudichi questo Tweet?</p>
<h1 class="text-center">{{ tweet['text'] }}</h1>

<form action="/" method="POST">
  {% for t in tweet %}
  <input type="hidden" name="{{ t }}" value="{{ tweet[t] }}">
  {% endfor %}
  <div class="row my-5">
    <div class="col text-center">
      <input type="submit" name="submit_button"
        value="Positivo" class="btn btn-outline-primary"></div>
    <div class="col text-center">
      <input type="submit" name="submit_button"
        value="Neutro" class="btn btn-outline-primary"></div>
    <div class="col text-center">
      <input type="submit" name="submit_button"
        value="Negativo" class="btn btn-outline-primary"></div>
  </div>
  <div class="row my-5">
    <div class="col text-center">
      <input type="submit" name="submit_button" value="Non è in italiano?"
        class="btn btn-outline-secondary">
    </div>
  </div>
</form>
{% else %}
<h1 class="text-center">Ops, qualcosa è andato storto, non ho trovato il Tweet.</h1>
<h1 class="text-center">😢</h1>
<form action="/" method="GET">
  <div class="row my-5">
    <div class="col text-center">
      <input type="submit" name="submit_button" value="Riprova"
        class="btn btn-outline-secondary">
    </div>
  </div>
</form>
{% endif %}
{% endblock %}
