<!doctype html>
{% extends "layout.html" %}
{% block title %}Grazie{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3>Grazie</h3>
            <p class="text-justify">
                Il tuo aiuto è stato davvero utile. 
                Ora se vuoi, puoi condividere questa pagina con altre persone per aiutarmi a completare questa parte di lavoro di tesi. 
            </p>
            <p class="text-justify">
                Ti ringrazio nuovamente per avermi dedicato il tuo tempo. 
            </p>
            
        </div>
    </div>
{% endblock %}
