<!doctype html>
{% extends "layout.html" %}
{% block title %}Tweet{% endblock %}

{% block content %}
{% if tweet %}
<div class="container-fluid overflow-auto">
  <p class="text-center lead">Rispetto a questo Tweet</p>
  <!-- <p class="h2"></p> -->
  <blockquote class="blockquote text-center">
    <p class="mb-0">{{ tweet['parentText'] }}</p>
  </blockquote>
</div>
<div class="container-fluid overflow-auto">
  <p class="text-center lead">Come giudichi questa risposta?</p>
  <!-- <p class="h2"></p> -->
  <blockquote class="blockquote text-center">
    <p class="mb-0">{{ tweet['text'] }}</p>
  </blockquote>
</div>
<form action="/" method="POST">
  {% for t in tweet %}
  <input type="hidden" name="{{ t }}" value="{{ tweet[t] }}">
  {% endfor %}
  <div class="container">
    <div class="row my-5">
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 my-2 my-sm-2
        my-md-1 my-lg-1 text-center">
        <input type="submit" name="submit_button"
          value="Positiva" class="btn btn-outline-primary btn-xl btn-block"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 my-2 my-sm-2
        my-md-1 my-lg-1 text-center">
        <input type="submit" name="submit_button"
          value="Neutra" class="btn btn-outline-primary btn-xl btn-block"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 my-2 my-sm-2
        my-md-1 my-lg-1 text-center">
        <input type="submit" name="submit_button"
          value="Negativa" class="btn btn-outline-primary btn-xl btn-block"></div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: {{ progress
        }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <div class="row my-5">
      <div class="col-sm text-center">
        <button type="submit" name="submit_button" value="errore"
          class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Se il Tweet contiene errori, segnalalo di modo che possa essere scartato dallo studio">
          Il Tweet non è in italiano 
        </button>
        <button type="submit" name="submit_button" value="errore"
          class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Se il Tweet contiene errori, segnalalo di modo che possa essere scartato dallo studio">
          Il Tweet è indecifrabile
        </button>
      </div>
    </div>
  </div>
</form>
{% else %}
<h1 class="text-center">Ops, qualcosa è andato storto, non ho trovato il Tweet.</h1>
<h1 class="text-center">😢</h1>
<form action="/" method="GET">
  <div class="row my-5">
    <div class="col-sm text-center">
      <input type="submit" name="submit_button" value="Riprova"
        class="btn btn-outline-secondary">
    </div>
  </div>
</form>
{% endif %}
{% endblock %}
