<!doctype html>
{% extends "layout.html" %}
{% block title %}Benvenuto{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3>Istruzioni</h3>
            <p  class="text-justify">
                Ci serve il tuo aiuto per progredire nella messa appunto di tecniche statistiche e informatiche per la ricerca sociale.
                Ti chiediamo semplicemente di classificare alcuni tweet al fine di comprendere l'eventuale l'influenza che i nostri politici 
                esercitano attraverso i social network.                    
            </p>
            <p  class="text-justify">
                <span class="">Ti chiediamo 5 minuti del tuo tempo per noi molto preziosi.</span>
                Ti proporremo 30 tweet e ti sarà richiesto di esprimere per ciscuno la tua opinione sulla base del contenuto del messaggio.
                Per ciascun tweet avrai la possibilità di espririmere un giudizio positivo, neutro oppure negativo. 
                Non ci sono risposte giuste o sbagliate, esprimi la tua opinione. 
            </p>
            <p  class="text-justify">
                Ti assicuriamo l'anonimato delle tue risposte e ti garantiamo che i dati così raccolti verranno solo utiizzati in forma 
                aggregata e per scopi scientifici. 
            </p>
        </div>
    </div>
<div class="container">
    <div class="row my-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-2 my-sm-2
            my-md-1 my-lg-1 text-center">
            <form method="post">
                <p><input type="hidden" name="userId" id="myField">
                    <p><input type="submit" value="Comincia" class="btn
                            btn-outline-primary btn-xl btn-block">
                    </form>
                </div>
                </div>
</div>

                <script type="text/javascript">
    function randomID() {
        return 'id-' + Math.random().toString(36).substr(2, 30); 
    };
    document.getElementById('myField').value = randomID() + '-' + Date.now();
</script>
{% endblock %}
